body {
  background: #2a2a2a;
}

::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #1ee56b;
  border-radius: 100px;
}

/* NEW CARD DESIGN BEGINS */

.card-container {
  width: 70%;
  margin: auto;
}

.grid-card {
  background: #3b3b3b;
  border-radius: 10px;
  vertical-align: top;
  height: 100%;
  display: inline-block;
  width: 30%;
  margin: 1rem;
}

.card-img {
  width: 100%;
  height: 30vh;
  object-fit: cover;
}

.recipe-title {
  display: block;
  font-size: 2rem;
  font-weight: bold;
  color: #1ee56b;
  font-family: arial;
  padding: 3%;
}

.show-details:hover {
  cursor: pointer;
}

.recipe-summary-div {
  border-top: 1px solid rgba(190, 190, 190, 0.15);
  color: #a2a2a2;
  font-family: arial;
  font-size: 0.74rem;
  padding: 2% 30% 2% 2%;
}

.show-details {
  padding: 3%;
  font-family: Arial;
  color: #a2a2a2;
}

/***********************/
.ingredient-li {
  display: none;
}

.card-open {
  height: 200px;
}

.card-content-open {
  height: 100px;
  opacity: 1;
  padding-left: 3%;
  color: #a2a2a2;
  font-family: arial;
  transition: all 0.4s ease;
  overflow-y: scroll;
}

.card-content-closed {
  height: 0;
  opacity: 0;
  transition: all 0.4s ease;
}

/* NEW CARD DESIGN ENDS */
