body {
  background: #2a2a2a;
}

::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #1ee56b;
  border-radius: 100px;
}

/* NEW CARD DESIGN BEGINS */

.grid-card {
  background: #3b3b3b;
  border-radius: 10px;
  vertical-align: top;
  /* height: 100%; */
  display: inline-block;
  width: 23vw;
  margin: 1rem;
}

.card-img {
  width: 100%;
  height: 30vh;
  object-fit: cover;
}

.recipe-title {
  display: block;
  font-size: 2rem;
  font-weight: bold;
  color: #1ee56b;
  font-family: arial;
  padding: 3%;
}

.card-content:hover {
  cursor: pointer;
}

.recipe-summary-div {
  border-top: 1px solid #1ee56b;
  padding-top: 3%;
}

/***********************/
.ingredient-li {
  display: none;
}

.card-open {
  height: 200px;
}

.card-content-open {
  height: 100px;
  opacity: 1;
  transition: all 0.4s ease;
  overflow-y: scroll;
}

.card-content-closed {
  height: 0;
  /* display: none; */
  opacity: 0;
  transition: all 0.4s ease;
}

/* NEW CARD DESIGN ENDS */
